<div expanded="false" class="navbar">
	<div class="navbar-mobilebg"></div>
	<ul class="navbar-container">
		<li class="navbar-logo"><img src="/<%- meta.navbar.logoUrl %>"></li>
		<%- meta.navbar.pages[locals.user ? 1 : 0].map((p, i) => `<li class="navbar-item ${p.u == path ? "selected" : ""}"><a href="${p.u}">${p.n}</a></li>`).join("\n"); %>
		<li class="navbar-expand" onclick="navbarExpandToggle()"><img src="/imgs/HamburgerIcon.svg"></li>
	</ul>

	<script>
		function navbarExpandToggle() {
			let navbarElement = document.querySelector(".navbar");
			if (navbarElement.getAttribute("expanded") == "true") {
				navbarElement.setAttribute("expanded", "false")
				document.body.style.overflow = "unset"
				document.querySelector("html").style.overflow = "unset"
			} else {
				navbarElement.setAttribute("expanded", "true");
				document.body.style.overflow = "hidden"
				document.querySelector("html").style.overflow = "unset"
			}
		}
	</script>
</div>