<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/imgs/IconColour.png">
	<title>Dashboard - Arrif</title>

	<link rel="stylesheet" href="/style/base.css">
	<link rel="stylesheet" href="/style/forms.css">
</head>

<body>
	<%- include("templates/navbar") %>

	<section class="dashboard">

	</section>

	<%- include("templates/footer") %>
</body>

</html>