<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="images/IconColour.png">
	<title>Arrif - Error!!1</title>

	<link rel="stylesheet" href="style/base.css">
</head>

<body style="background-color: white;">
	<div class="cta-center">
		<h1 style="color:var(--accent-1);"><%= errorMsg %></h1>
		<p style="color:black">Return <a style="color:black" href="/">home?</a></p>
	</div>
</body>

</html>