/* All fonts are licensed by Adobe Fonts! */

@import url("https://use.typekit.net/bvl8ydt.css");

:root {
	/* line-height: 20px; */
}

h1,
h2,
h3 {
	font-family: "ice-cream-slant";
	font-size: 4em;
	color: white;
}

h2 {
	font-size: 3.2em;
	margin-block-end: 0.5em;
}

h3 {
	font-size: 1.6em;
	margin-block-end: 0.3em;
}

p,
a,
span {
	font-family: "elza-text";
	color: white;
}
