.schedule-event {
	padding: 10px;
	font-family: "elza-text";
	border: 1px solid white;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 10px;
	cursor: pointer;
}

.schedule-event-title {
	font-size: 2.7em;
	font-family: "ice-cream-slant";
	padding-bottom: 5px;
	display: block;
}

.schedule-event-desc {
	font-size: 1.2em;
	display: block;
}

.schedule-event-footer {
	padding-bottom: 0px;
	font-size: 0.8em;
	display: block;
}

.schedule-event-time {
	font-size: 5em;
	vertical-align: middle;
	font-weight: bold;
	margin-left: auto;
}

.schedule-todo {
	padding: 10px;
	font-family: "elza-text";
	border: 1px solid white;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-bottom: 10px;
	position: relative;
}

.schedule-todo-title {
	font-size: 2.7em;
	font-family: "ice-cream-slant";
	padding-bottom: 5px;
	display: block;
	width: 80%;
}

.schedule-todo-desc {
	font-size: 1.2em;
	display: block;
	width: 80%;
}

.schedule-todo[data-priority="true"] {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHBhdGggZD0nTS0xLDEgbDIsLTIKICAgICAgICAgICBNMCwxMCBsMTAsLTEwCiAgICAgICAgICAgTTksMTEgbDIsLTInIHN0cm9rZT0nI0ZGQjg0NScgc3Ryb2tlLXdpZHRoPScxJyAvPgo8L3N2Zz4=");
	background-repeat: repeat;
}

.schedule-timetable {
	padding: 10px;
	font-family: "elza-text";
	border: 1px solid white;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 10px;
	cursor: pointer;
}

.schedule-timetable-title {
	font-size: 2.7em;
	font-family: "ice-cream-slant";
	padding-bottom: 5px;
	display: block;
}

.schedule-timetable-desc {
	font-size: 1.2em;
	display: block;
}

@media all and (max-width: 768px) {
	.schedule-event-time {
		padding-top: 10px;
		font-size: 3.5em;
	}
}
