body {
	overflow: hidden;
}

.timetable {
	width: 100%;
	color: white;
	font-family: "elza-text";
	position: relative;
	display: block;
	overflow: scroll;
	height: 70vh;
}

.timetable-timeline {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 50px;
	height: calc(50px * 24 * 2);
}

.timetable-timeline ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.timetable-timeline ul li {
	position: relative;
	height: 50px;
	text-align: left;
}

.timetable-timeline ul li:nth-of-type(2n) span {
	display: none;
}

.timetable-timeline ul li span {
	color: white;
}

.timetable-timeline ul li::after {
	content: "";
	position: absolute;
	bottom: 0;
	width: calc(100% - 60px);
	left: 60px;
	height: 1px;
	opacity: 0.5;
	background-color: var(--accent-3);
}

.timetable-events {
	margin-left: 60px;
	position: relative;
	z-index: 1;
	height: calc(50px * 24 * 2);
}

.timetable-events ul {
	display: flex;
	flex-wrap: nowrap;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}

.timetable-day {
	flex-basis: 0;
	flex-grow: 1;
	margin: 0;
	padding: 0;
	border-right: 1px solid white;
	height: 100%;
}

.timetable-day:last-child {
	border-right: none;
}

.timetable-day-header {
	display: flex;
	align-items: center;
	height: 50px;
	justify-content: center;
	border-bottom: 1px solid var(--accent-3);
	padding: 0;
}

.timetable-day-header span {
	font-size: 1.2em;
	font-weight: bolder;
}

.timetable-event {
	padding: 7px;
	color: white;
	border: solid 1px white;
	border-radius: 5px;
	background-color: var(--accent-2);
	display: flex;
	flex-direction: column;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.timetable-event-name {
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 2px;
}

.timetable-event-loc {
	float: right;
	opacity: 0.8;
	font-size: 0.8em;
}

.timetable-event-desc {
	float: left;
	/* margin-top: 4px; */
}

.timetable-event-length {
	float: left;
	margin-top: 3px;
}

.timetable-event * {
	outline: none;
}

@media all and (max-height: 900px) {
	.timetable {
		height: 60vh;
	}
}

@media all and (max-height: 700px) {
	.timetable {
		height: 40vh;
	}
}
